@model UserSignInViewModel
@{Layout = "_authlayout";}
@* <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid pb-10" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div class="container">
          <form method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" class="form-control " asp-for="@Model.Username"/>
            <label class="form-label pt-2" for="form1Example13">Kullanıcı adı</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" class="form-control " asp-for="@Model.Password" placeholder="..........."/>
            <label class="form-label pt-2" for="form1Example23">Parola</label>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Beni Hatırla </label>
            </div>
            <a href="#!">Şifremi unuttum</a>
          </div>

          <!-- Submit button -->
          <button type="submit"  class="btn btn-primary btn-lg w-100">Giriş Yap</button>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">Kayıt olmak için bize başvurun.</p>
          </div>


        </form>
        </div>
        
      </div>
    </div>
  </div>
</section> *@
<div class="container" style="height: 100%;">
    <div class="row pb-10" style="height: max-content;">
        <div class="container mt-10 pb-10 shadow" style="height: max-content; width: 400px; min-height: fit-content; border: 1px solid #e0e0e0; border-radius:12px;">
            <div class="d-flex justify-content-center pt-10">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" width="400px" alt="">
            </div>
            <div class="container pt-10">
          <form method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" class="form-control " asp-for="@Model.Username"/>
            <label class="form-label pt-2" for="form1Example13">Kullanıcı adı</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" class="form-control " asp-for="@Model.Password" placeholder="..........."/>
            <label class="form-label pt-2" for="form1Example23">Parola</label>
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Beni Hatırla </label>
            </div>
            <a href="#!">Şifremi unuttum</a>
          </div>

          <!-- Submit button -->
          <button type="submit"  class="btn btn-primary btn-lg w-100" >Giriş Yap</button>

          <div class="container text-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">HHT Yazılım</p>
            <p class="text-center mx-3 mb-0 text-muted">Tüm Hakları Saklıdır.</p>
          </div>


        </form>
        </div>
            
        </div>         
    </div>
</div>