<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BuskiBakim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*devextreme *@
    <link href="~/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <script src="~/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <link href="~/css/devextreme/dx.material.blue.light.css" rel="stylesheet" />
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/panel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link href="~/plugins/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body  style="background-color: #f7f7f7;">
        

        <main class="wrapper" style="overflow-x: hidden;">
            
            <nav id="sidebar">
                @await Html.PartialAsync("_sidebar")
            </nav>

            <div class="container-fluid w-100 content p-0 m-0">
                @await Html.PartialAsync("_navbar")
                @await Html.PartialAsync("_header")
                @RenderBody()
            </div>
            
            
            
            
            
        </main>
    <script src="~/js/scripts.bundle.js"></script>
    <script src="~/css/style.bundle.js"></script>
    <script src="~/plugins/plugins.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
