<!-- Just an image -->
<nav id="navbar navbar-expand-lg">
    <div class="container-fluid">
<div class="collapse navbar-collapse" id="navbarNav"></div>
   <div class="menu-icon">
		<input class="menu-icon__cheeckbox" checked id="sidebarCollapse" type="checkbox" />
		<div>
			<span></span>
			<span></span>
		</div>
	</div>

  <div class="right-buttons">

    
        

            <div class="btn btn-active-secondary custom">
                <i class="fa-solid fa-shield"></i>
            </div>

            <div class="btn btn-active-secondary custom">
                <i class="fa-solid fa-signal"></i>
            </div>

            <div class="btn btn-active-secondary custom pulse">
                <i class="fa-solid fa-bell"></i>
                <span class="pulse-ring" style="position: absolute; top:0px; right:11px"></span>
            </div>
            
            <div class="menu menu-rounded menu-column menu-gray-600 menu-state-bg fw-bold " data-kt-menu="true">   
    <!--begin::Menu item-->
                <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom-start">
                    <!--begin::Menu link-->
                    <button type="button" class="menu-link btn btn-icon btn-active-light-secondary custom profile-button dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" ariai-haspopup="true" aria-expanded="false" style="margin-left: 10px;">
                    <div class="profile-btn-shadow"></div>
                    <img src="~/app/images/profile.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;">
                </button>
                    <!--end::Menu link-->

                    <!--begin::Menu sub-->
                    <div class="menu-sub menu-sub-dropdown p-3 w-200px">
                        <!--begin::Menu item-->
                        <div class="menu-item">
                            <a href="#" class="menu-link px-1 py-3">
                                <span class="menu-bullet me-0">
                                </span>
                                <span class="menu-title">Ayarlar</span>
                            </a>
                        </div>
                        <!--end::Menu item-->

                        <!--begin::Menu item-->
                        <div class="menu-item">
                            <a href="#" class="menu-link px-1 py-3">
                                <span class="menu-bullet me-0">
                                </span>
                                <span class="menu-title">Çıkış Yap</span>
                            </a>
                        </div>
                        <!--end::Menu item-->

                        <!--begin::Menu item-->
                       
                    </div>
                    <!--end::Menu sub-->
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu-->

        </div>     
    </div>
  


</nav>
 
  

  
   