<nav style="height: 56px; background-color: #141E27;">
    <div class="menu  menu-gray-600 menu-state-bg  w-250px" data-kt-menu="true">
        <div class="menu-item" data-kt-menu-trigger="hover" data-kt-menu-placement="bottom-start">
            <a href="" class="menu-link py-3">
                <span class="menu-title">Dashboard</span>
                <span class="menu-arrow"></span>
            </a>
        </div>
    </div>
</nav>