
    <div class="row stats">
        <div class="col-md-3">
            <a href="#">
                <div class="stat varlikStat">
                    <div class="staticon"><i class="fa-solid fa-cart-flatbed"></i></div>
                     <div class="statinfo varlikinfo">Varlıklar</div>
                     <div class="statsubinfo varliksubinfo">1254 <i class="fa-solid fa-arrow-down"></i></div>
                     <div class="statlink">Detaylı bilgi</div>
                </div>
            </a>          
        </div>
        
        <div class="col-md-3">
            <a href="#">
                <div class="stat grupStat">
                    <div class="staticon"><i class="fa-solid fa-layer-group"></i></div>
                    <div class="statinfo varlikinfo">Gruplar</div>
                     <div class="statsubinfo varliksubinfo">35 <i class="fa-solid fa-arrow-down"></i></div>
                     <div class="statlink">Detaylı bilgi</div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
            <div class="stat isemriStat">
                <div class="staticon"><i class="fa-solid fa-arrow-down-short-wide"></i></div>
                <div class="statinfo varlikinfo">İş Emirleri</div>
                     <div class="statsubinfo varliksubinfo">234 <i class="fa-solid fa-arrow-down"></i></div>
                     <div class="statlink">Detaylı bilgi</div>
            </div>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#">
            <div class="stat stokStat">
                <div class="staticon"><i class="fa-solid fa-box-archive"></i></div>
                <div class="statinfo varlikinfo">Stok</div>
                     <div class="statsubinfo varliksubinfo">1254 <i class="fa-solid fa-arrow-down"></i></div>
                     <div class="statlink">Detaylı bilgi</div>
            </div>
            </a>
        </div>
    </div>
