<div class="sidebar">
    <div class="logo-area">
        <div class="logo">
            <a href="#"><i class='bx bxl-netlify'></i></a>
    
        </div> 
    </div>
    <div class="sidebar-container">
        <div class="user-area">
            <div class="user-pic">
                <img src="~/app/images/profile.jpg" width="80px" height="80px" alt="">
            </div>
            <div class="user-info">
                <label class="user-name" for="">Burak Arslan</label>
                <br>
                <label class="role" for="stat">Admin</label>
                <br>
                <label class="status" for="stat">Çevrimiçi <div class="status-online"></div></label>
            </div>
        </div>
        <div class="items-area">
           <ul class="menu-items">
            <li>
                <a asp-controller="Panel" asp-action="Index"><i class="fa-solid fa-gauge"></i>Panel</a>
            </li>
            <li>
                <a asp-controller="Varliklar" asp-action="Index"><i class="fa-solid fa-car"></i>Varlıklar</a>
            </li>
            <li>
                <a asp-controller="Gruplar" asp-action="Index"><i class="fa-solid fa-tags"></i>Gruplar</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-arrow-down-short-wide"></i>İş Emirleri</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-box-archive"></i>Malzemeler / Stok</a>
            </li>
            <li class="drpdown">
                <a  data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-users-line"></i> Personeller <i id="dropdown-icon" class="fa-solid fa-arrow-down"></i></a>
                <ul class="dropdown-area collapse" id="collapseExample">
                    <li class="dropdown-items"><a href="#">Listele</a></li>
                    <li class="dropdown-items"><a href="#">Ekle</a></li>
                    <li class="dropdown-items"><a href="#">Çıkar</a></li>
                    <li class="dropdown-items"><a href="#">Toplu Mail Gönder</a></li>                                  
                </ul>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-truck-fast"></i>Sevk İşlemleri</a>
            </li>
            @* Admin ise / Yetkili ise *@
            <li>
                <a href=""><i class="fa-solid fa-clipboard"></i>Log Kayıtları</a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-id-badge"></i>Yetkiler</a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-users"></i>Tüm Kullanıcılar</a>
            </li>
            <li>
                <a href=""><i class="fa-solid fa-gear"></i>Ayarlar</a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-hotjar"></i>Sunucu</a>
            </li>
           
        </ul>
               
   
           
        </div>
        <div class="submenu-area">
            <div class="social-area">
                <a href="" class="submenu-social"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="submenu-social"><i class="fa-brands fa-twitter"></i></a>
                <a href="" class="submenu-social"><i class="fa-brands fa-linkedin"></i></a>
                <a class="submenu-social"><i class="fa-solid fa-envelope"></i></a>
                <a href="" class="submenu-social"><i class="fa-brands fa-github"></i></a>
            </div>
            
            <br>
       <label>Bizi takip edin</label>
        </div>
    </div>
</div>


<!-- <ul>
    <li><a routerLink="/admin">Dash</a></li>
    <li><a routerLink="customers">Customers</a></li>
    <li><a routerLink="products">Products</a></li>
    <li><a routerLink="orders">Orders</a></li>
    <li><a routerLink="">Siteyi Gör</a></li>
</ul> -->
